<html>
<head>
	<title>Gel Pens</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Custom.css') }}">
	<script src="{{ url_for('static', filename='javascript/GelPensProduct.js') }}"></script>
</head>
<body>
	<label type="text" id="CartIconQty"> </label>
	<a href="{{ url_for('Cart') }}">
	<img src="{{ url_for('static', filename='images/Cart.png') }}" alt="Cart" id="CartIcon"></a>
    <form method="post">
		<table>
			<tr>
				<td>
					<img src="{{ url_for('static', filename='images/GelPens.jpg') }}" alt="GelPens">
				</td>
				<td>
					<h3>Gelly Roll® Moonlight® 10 Bold Point Gel Pen 10 Color Set</h3>
					<label id="GelPensmsg">{{ msg }}</label><br>
					<select id="cmbGelPensQty" name="cmbGelPensQty">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
					</select> 
					<h4>$10.59</h4>
					<p><b>Description</b></p>
				</td>
			</tr>
			<tr>
				<td>
					<button id="btnCartGelPens" type="submit">Add to Cart</button>
				</td>
			</tr>
		</table>
    </form>
</body>
</html>